.App {
	text-align: center;
	background-color: #1e272e;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
.home {
}
.container {
}
.middle {
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	align-items: center;
	transform: translate(-50%, -50%);
}
.end {
	position: absolute;
	bottom: 40px;
	left: 50%;
	transform: translatex(-50%);
}
/* styling the button*/
.glowBtn {
	padding: 10px 10px;
	display: inline-block;
	color: #2c0ddb;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 1.2em;
	border-radius: 10px;
	border: none;
	overflow: hidden;
}

/*creating animation effect*/
.glowBtn:hover {
	color: #fff;
	background: #0e0088ee;
	box-shadow: 0 0 50px #1424ff;
}
.speechBtn {
	border-radius: 50%;
	height: 100px;
	width: 100px;
}
.glowBtn:focus {
	outline: none;
}
p {
	color: aliceblue;
}
.btnText {
	font-size: 2rem;
	font-weight: 500;
	letter-spacing: 1.2;
}
